 @viewport {
        width: device-width;
        
    }   
  
  body 
{
       margin: 0; 
 padding: 0; 
 text-align: center; 
 background-color : white; 
}

.page
{
    
   margin: 0px auto;
 padding: 0; 
 width:400px; 
 height: 750px;
 
  }

.logo {
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: center;
	  top: 30%;
	 width: 85% ;
	 
	
}

.support{
    position:relative;
    color: cadetblue;
	  padding: 0px;
     font-size: 1.5em;
     text-align:center;
	 
      top:20%;

}

.btn{
	
	position:relative;
    color: cadetblue;
	  padding: 0px;
     font-size: .70em;
     text-align:center;
      top:40%;
	  left: -13%;
	}
	
	.hmbtn2{
	
	position:relative;
    color: cadetblue;
	  padding: 0px;
     font-size: .70em;
     text-align:center;
      top:40%;
	  left: 14%;
	}