 @viewport {
        width: device-width;
		height: devie-height
        
    }   
  
  body 
{
       margin: 0; 
 padding: 0; 
 text-align: center; 
 background-color : white; 
}

.page
{
    
   margin: 0px auto;
 padding: 0; 
 width:400px; 
 height: 500px;
 
  }

.logo {
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: center;
	  top: 10%;
	 width: 85% ;
	 
	
}

.support{
    position:relative;
    color: cadetblue;
	  padding: 0px;
     font-size: 1.5em;
     text-align:center;
	 
      top:20%;

}

.btn{
	
	position:relative;
    color: cadetblue;
	  padding: 0px;
     font-size: .70em;
     text-align:center;
      top:20%;
	  left: -5%;
	}
	
	.hmbtn2{
	
	position:relative;
    color: cadetblue;
	  padding: 0px;
     font-size: .70em;
     text-align:center;
      top:20%;
	  left: 0%;
	}
	
	.hmbtn3{
	
	position:relative;
    color: cadetblue;
	  padding: 0px;
     font-size: .70em;
     text-align:center;
      top:20%;
	  left: 5%;
	}
	
	.hmbtn4{
	
	position:relative;
    color: cadetblue;
	  padding: 0px;
     font-size: .70em;
     text-align:center;
      top:20%;
	  left: 10%;
	}
	
	.hmbtn5{
	
	position:relative;
      background: url("Images/gplay.png") no-repeat;
    height: 29px;
 width:100px;
    top:60%;
	  left: -10%;
	}
	
	.hmbtn6{
	
	position:relative;
      background: url("Images/ingr_a.png") no-repeat;
    height: 30px;
 width:33px;
    top:60%;
	  left: 10%;
	}
	
	
	 .h1{
		 position:relative;
		 color: cadetblue;
	  padding: 0px;
     font-size: 1.0em;
     text-align:center;
	 
      top:28%;
	 }
	
	.logo2 {
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: center;
	
	 height: 150px;
 width:150px;
	     top:28%;
		 left:0%;
	}
	
	
	

	